body {
	margin: 0;
	min-height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#root {
	width: 90%;
	padding-bottom: 2em;
}
@media (min-width: 768px) {
	#root {
		width: 80vw;
	}
}
h1 {
	margin-top: 0;
}
#footer {
	width: 100%;
	bottom: 0;
	padding: 1.5em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #333;
	background: #ddd;
	text-align: center;
}
#footer a {
	color: #075e54;
}

#meta {
	margin-top: 1em;
	color: #666;
}
@media (min-width: 768px) {
	#footer {
		text-align: unset;
		justify-content: space-around;
		flex-direction: row;
	}
	#meta {
		margin-top: 0;
	}
}
